/*** universal styles ***/
* {
  box-sizing: border-box;
}

body {
  font-size: 1.2rem;
}

#buttons, #messages, #score {
  text-align: center;
}

/*** introduction screen **/
#introduction {
  margin: auto;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  padding-top: 35vh;
  background: linear-gradient(-45deg, #AA1FDE, #000, #080A59);
}

#planet {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  top: 10%;
  left: 5%;
  box-shadow: inset -7px -5px 5px 5px black;
  background: repeating-linear-gradient(
     45deg,
     #DE1F50 0px,
     #AA1FDE 40px,
     #AA1FDE 40px,
     #DE1F50 80px
   );
}

#switch-language {
  position: absolute;
  top: 0;
  right: 5%;
}

#switch-language:hover {
  color: yellow;
  cursor: pointer;
}

/*** questions ***/
#wrap {
  display: flex;
  flex-direction: column;
}

#quiz-form, #score,
#summary {
  display: none;
}

section {
  text-align: center;
}

.question {
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  background-color: blue;
  color: #FFF;
  font-weight: bold;
}

.answers {
  width: 70%;
  margin: 0 auto;
}

.answer {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 10%;
  border: 2px solid blue;
}

.answer:hover {
  border: 2px solid gold;
}

.chosen-answer {
  background-color: #080A59;
  color: gold;
  font-weight: bold;
  border: 2px solid gold;
}

input {
  visibility: hidden;
}

/* summary */
#summary {
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(circle, red, yellow, black);
  z-index: 0;
  position: absolute;
}

#score {
  z-index: 2;
}

/* typography */
h2 {
  font-weight: bold;
  font-size: 2rem;
  color: gold;
}

p {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

#introduction p {
  color: #FFF;
}

/* buttons */
button {
  background-color: blue;
  color: #FFF;
  border: 2px solid #000;
  font-weight: bold;
  padding: 5px 25px;
  cursor: pointer;
}

button:hover {
  background-color: #02069B;
  color: gold;
}

button:active {
  background-color: #080A59;
  color: gold;
}

/* queries */
@media screen and (max-width: 700px) {
  #planet {
    width: 150px;
    height: 150px;
    top: 5%;
    left: 5%;
}
